@use "variables/typography" as t;
@use "variables/breakpoints" as bp;
@use "variables/spacings" as s;
@use "mixins" as *;

/* 
* TYPOGRAPHY
*/

// Defines a font-face
@mixin fontFace($family, $weight, $src) {
    font-family: $family;
    font-weight: $weight;
    src: $src;
}

// Primary font-face
@each $weight, $src in map-get(t.$primary, "weights") {
  @font-face {
    @include fontFace(map-get(t.$primary, "family"), $weight, $src);
  }
}

// Secondary font-face
@each $weight, $src in map-get(t.$secondary, "weights") {
  @font-face {
    @include fontFace(map-get(t.$secondary, "family"), $weight, $src);
  }
}

body {
  font-family: t.getFontFamily("primary");
  text-align: center;

  @include min-viewport(bp.$lg) {
    text-align: left;
  }
}

/* * */

// Anchors should be inline-block
a {
  display: inline-block;
}

// Transition duration
* {
  transition: 0.3s;
}

// Spacing variables for sections
:root {
  --section-spacing-1: 2.75rem; /* 44px */
  --section-spacing-2: 6.375rem; /* 102px */

  @include min-viewport(bp.$lg) {
    --section-spacing-1: 4.875rem; /* 78px */
    --section-spacing-2: 19.125rem; /* 306px */
  }
}

// Variable for the height of the phone image in the soaf article
main {
  --phone-img-height: 21.5rem; // 344px
}