*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1c1c1c;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}