@use "variables/spacings" as s;

/* Container */
.container {
  width: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 s.getSpacing(2);
}


/* 
* 2 columns splitter
*/

.split {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }
}

/* * */


/* 
* FLEX
*/

.flex {
  display: flex;
}

.justity-center {
  justify-content: center;
}

/* * */


/* 
* SPACINGS
*/

// Margin
.ml-2 {
  margin-left: s.getSpacing(2);
}
.mr-4 {
  margin-right: s.getSpacing(2);
}

// Padding
.px-1 {
  padding-left: s.getSpacing(1);
  padding-right: s.getSpacing(1);
}

/* * */