@use "variables/spacings" as s;
@use "variables/breakpoints" as bp;
@use "mixins" as *;

/* Container */
.container {
  $max-width: 69.75rem;
  $padding-x: s.getSpacing(3);

  width: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $padding-x;

  @include min-viewport(bp.$lg) {
    max-width: $max-width; /* 1116px */
  }

  $no-padding-viewport: $max-width + 2 * $padding-x;
  @include min-viewport($no-padding-viewport) {
    padding: 0;
  }
}

// Display inline-block
.inline-block {
  display: inline-block;
}


/* 
* 2 columns splitter
*/

.split {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }

  @include min-viewport(bp.$lg) {
    flex-wrap: nowrap;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

/* * */


/* 
* FLEX
*/

.flex {
  display: flex;
}

.justity-center {
  justify-content: center;
}

.justity-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto;
}

/* * */


/* 
* SPACINGS
*/

// Margin
.ml-1 {
  margin-left: s.getSpacing(1);
}
.mr-1 {
  margin-right: s.getSpacing(1);
}
.ml-2 {
  margin-left: s.getSpacing(2);
}
.mr-2 {
  margin-right: s.getSpacing(2);
}
@include min-viewport(bp.$lg) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
}

// Padding
.px-3 {
  padding-left: s.getSpacing(3);
  padding-right: s.getSpacing(3);
}
@include min-viewport(bp.$xlg) {
  .px-xlg-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
.py-1 {
  padding-top: s.getSpacing(1);
  padding-bottom: s.getSpacing(1);
}
.py-2 {
  padding-top: s.getSpacing(2);
  padding-bottom: s.getSpacing(2);
}

// Spacings for the sections
.section-mb-1 {
  margin-bottom: var(--section-spacing-1);
}
.section-py-2 {
  padding-top: var(--section-spacing-2);
  padding-bottom: var(--section-spacing-2);
}

/* * */


/* 
* RESPONSIVE DISPLAY
*/

@include max-viewport(calc(bp.$lg - 1px)) {
  .hide-mobile {
    display: none;
  }
}

@include min-viewport(bp.$lg) {
  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}

/* * */


/* 
* WIDTH
*/

.w-100 {
  width: 100%;
}

/* * */


/* 
* POSITIONING
*/

.position-relative {
  position: relative;
}

/* * */


/* 
* ROUNDED CORNERS
*/

.rounded-sm {
  border-radius: 5px;
}


// Rounded corners for content box
$box-border-radius: 6.125rem; /* 98px */
.box-rounded-top-right {
  border-top-right-radius: $box-border-radius;
}
.box-rounded-bottom-left {
  border-bottom-left-radius: $box-border-radius;
}

/* * */


/* 
* LINE-HEIGHT
*/

.lh-1 {
  line-height: 1;
}

/* * */


/* 
* OVERFLOW
*/

.overflow-hidden {
  overflow: hidden;
}

/* * */