@use "../variables/spacings" as s;
@use "../variables/typography" as t;
@use "../variables/colors" as c;
@use "../variables/breakpoints" as bp;
@use "../mixins" as *;

.navbar {
  position: absolute;
  top: 0;
  left: 0;

  &__brand {
    width: 5.25rem; /* 84px */
  }

  &__toggle {
    .close-icon {
      display: none;
    }

    &.toggle-open {
      .toggle-icon {
        display: none;
      }

      .close-icon {
        display: inline-block;
      }
    }
  }

  &__menu {
    // 100 % of the bar
    // minus the padding-3 of both sides
    $menu-width: calc(100% - 2 * #{s.getSpacing(3)});

    position: absolute;
    top: 100%;
    left: s.getSpacing(3);
    margin-top: 2rem; // 32px
    padding:  s.getSpacing(3);
    width: $menu-width;
    background-color: #fff;
    box-shadow: 0 0.5rem 2rem rgba(32, 32, 32, 0.3);
  }

  &__links {
    padding-bottom: s.getSpacing(3);
    border-bottom: 1px solid #E5E5E5;
  }

  &__link {
    padding: s.getSpacing(2);
    width: 100%;
    font-size: t.getFontSize(3);
    color: c.getColor(c.$primary, "very-dark-blue");
    font-weight: 600;
    transform: scale(1);

    /* Common styles accross hover and open dropdown states */
    &:hover, &.toggle-open {
      opacity: 0.7;
      transform: scale(0.98);
    }

    // Rotate the arrow to the up when the dropdown menu is open
    &.toggle-open .navbar__arrow {
      transform: rotate(-180deg);
    }
  }

  &__arrow {
    vertical-align: middle;
    margin-left: 0.25rem;
    transform: rotate(0deg);
  }

  &__submenu {
    background-color: #EFEFF1;
    display: none;
  }

  &__sublink {
    color: c.getColor(c.$primary, "very-dark-blue");
    opacity: 0.7;
    font-weight: 600;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    .btn {
      font-weight: 600;
    }
  }
}

@include min-viewport(bp.$lg) {
  .navbar {

    &__brand {
      width: 6.5rem; /* 104px */
    }

    &__menu {
      position: static;
      margin: 0;
      padding: 0;
      padding-left: s.getSpacing(4);
      width: auto;
      background: none;
      box-shadow: none;
      display: flex;
      justify-content: space-between;
      flex: 1 1 auto;
      font-family: t.getFontFamily("secondary");

      .navbar__links, .navbar__auth-links {
        display: flex;
        padding: 0;
      }
    }

    &__links {
      border-bottom: none;
    }

    &__link {
      font-weight: 500;
      font-size: inherit;
      color: #fff;
      opacity: 0.7;
      transform: scale(1);

      &:hover, &.toggle-open {
        transform: scale(1);
        opacity: 1;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__submenu {
      background-color: #FFF;
      width: auto;
      min-width: 10.5rem; /* 168px */
      box-shadow: 0 0.5rem 2rem rgba(32, 32, 32, 0.3);
      position: absolute;
      top: 100%;
      left: 0;
      font-weight: 400;
      color: c.getColor(c.$neutral, "very-dark-grayish-blue");
    }

    &__sublink {
      font-weight: 400;
      color: c.getColor(c.$neutral, "very-dark-grayish-blue");
      opacity: 1;
      transition-duration: 0s;
  
      &:hover {
        font-weight: 700;
        transition-duration: 0s;
      }
    }

    // Sign up link as button component
    &__auth-links .btn {
      --bg-color: #fff;
      --text-color: #{c.getColor(c.$primary, "light-red")};

      margin-left: s.getSpacing(2);
      font-weight: 500;
      border-color: var(--bg-color);

      &:hover {
        --bg-color: #{c.getColor(c.$primary, "very-light-red")};
        --text-color: #fff;

        border-color: var(--bg-color);
      }
    }
  }
}